{% extends "base.html" %}

{%block conteudo%}
<div class="dados">
    <img src="{{url_for('static', filename='notfound.png')}}" class="foto"/>
</div>
<div class="info">
        <p><span style="color: greenyellow;">Nome:</span> Romulo Balsalobre</p>
        <p><span style="color: greenyellow;">Age:</span> 25 yrs</p>
        <p><span style="color: greenyellow;">Address:</span> Sao Paulo, Brazil</p>
        <p><span style="color: greenyellow;">Contact:</span>romulobalsalobre@gmail.com</p>
        <p><span style="color: greenyellow;">Github:</span> <a href = "https://github.com/RomuloBalsalobre" target="_blank">/RomuloBalsalobre</a></p>
</div>
<div class="whoami">
    <span style="color: greenyellow">root@os:~$</span><span class="whoamianimation">&nbsp;whoami</span><br>
    <span class="block"></span>
    <span style="color: white;">&nbsp; &nbsp; """</span><br>
    <div class="whoamitext">
        <span>&nbsp; &nbsp;&nbsp; &nbsp;I’m a python developer with 2+ yrs of experience</span><br>
        <span>&nbsp; &nbsp;&nbsp; &nbsp;working as a freelancer, and 4+ yrs working as</span><br>
        <span>&nbsp; &nbsp;&nbsp; &nbsp;b2b/b2c marketplace seller.</span><br>
        <span>&nbsp; &nbsp;&nbsp; &nbsp;With knowledge on many tools such as: Python,</span><br>
        <span>&nbsp; &nbsp;&nbsp; &nbsp;Flask, Django, Numpy, OpenCV, Pyautogui,</span><br>
        <span>&nbsp; &nbsp;&nbsp; &nbsp;Selenium, Java, C/C++, HTML, CSS.</span><br>
        <span>&nbsp; &nbsp;&nbsp; &nbsp;I also have the skills to deal with customers and </span><br>
        <span>&nbsp; &nbsp;&nbsp; &nbsp;understand what they really need.</span><br>
    </div>
    <span>&nbsp; &nbsp; """</span>
</div>
<div class="langskills">
    <div class="program">
        <span style="color: greenyellow;">Languages I program:</span><br>
        <div class="levell">
            <span>Basic</span><span>Advanced</span>
        </div>
        <div class="listal">
            <p>Python: </p>
            <p>Java: </p>
            <p>C/C++: </p>
            <p>Javascript: </p>
            <p>SQL: </p>
            <p>R: </p>
        </div>   
        <div class="barl">
            <span class="bigblock1"></span>
            <span class="bigblock2"></span>
            <span class="bigblock3"></span>
            <span class="bigblock4"></span>
            <span class="bigblock5"></span>
            <span class="bigblock6"></span>
            <p>[####################-------------]</p>
            <p>[######------------------------------------------------]</p>
            <p>[#############-------------------------------]</p>
            <p>[######------------------------------------------------]</p>
            <p>[#############-------------------------------]</p>
            <p>[######------------------------------------------------]</p>
        </div>                       
    </div>
    <div class="programp">
        <span style="color: greenyellow;">Languages I speak:</span><br>
        <div class="levelp">
            <span>Basic</span><span>Advanced</span>
        </div>
        <div class="listap">
            <p>Portuguese: </p>
            <p>English: </p>
            <p>Spanish: </p>
            <p>Russian: </p>
        </div>   
        <div class="barp">  
            <span class="bigblock7"></span>
            <span class="bigblock8"></span>
            <span class="bigblock9"></span>  
            <span class="bigblock10"></span>        
            <p>[########################]</p>
            <p>[########################]</p>
            <p>[######---------------------------------------------]</p>
            <p>[######---------------------------------------------]</p>
        </div>  
        <div class="listaextra">
            <p>Python Development: </p>
            <p>Google Data Analytics: </p>
            <p>Introduction to Linux: </p>
            <p>HTML/CSS Essentions: </p>
            <p>Python for Data Science: </p>
        </div>   
        <div class="barextra">  
            <span class="bigblock11"></span>
            <span class="bigblock12"></span>
            <span class="bigblock13"></span>  
            <span class="bigblock14"></span>      
            <span class="bigblock15"></span>  
                
            <p>[====================100%]</p>
            <p>[===33%------------------]</p>
            <p>[=========50%------------]</p>
            <p>[====================100%]</p>
            <p>[=10%--------------------]</p>
        </div>  
        <div class="listagrad">
            <p>Mechatronics: </p>
            <p>IT Bachelor: </p>
        </div>  
        <div class="bargrad">  
            <span class="bigblock16"></span>
            <span class="bigblock17"></span> 
                
            <p>[====================100%]</p>
            <p>[===33%------------------]</p>
        </div>                      
    </div>
</div>













{%endblock%}